@model DataObjects.PartVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PartVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartType)
        </dd>

        <dt>
            Serial Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Model.Cost.ToString("c")
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
