@model IEnumerable<DataObjects.Car>

<h2>@ViewBag.Title</h2>

<h4>New and Used</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipmentID)
        </th>
        <th>
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Used)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.TradeInID == 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.MSRP)
                </td>                
                @if (item.ShipmentID != 0)
                {
                    <td>@Html.DisplayFor(modelItem => item.ShipmentID)</td>
                }
                else
                {
                    <td>N/A</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CarType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Used)
                </td>
                <td>                    
                    @Html.ActionLink("Details", "Details", new { id = item.VIN })                    
                </td>
            </tr>
        }
    }

</table>

<h4>Trade Ins</h4>
<p>
    @Html.ActionLink("New Trade In", "CreateT")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeInID)
        </th>
        <th>
            Type
        </th>        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.TradeInID != 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.MSRP)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.TradeInID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarType)
                </td>                
                <td>                    
                    @Html.ActionLink("Details", "Details", new { id = item.VIN })            
                </td>
            </tr>
        }
    }

</table>